@charset "utf-8";

/* 3단계 */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  outline: 0;
}

/* 기본 화면 구성 */
figure {
  width: 100%;
  /* 부모 태그의 100% 사용 */
  height: 100vh;
  /* 브라우저의 높이값 100% 사용 */
  min-height: 600px;
  /* 최소 높이값 600px 사용 */
  overflow: hidden;
  /* 넘치는 부분은 숨김 처리 */
  position: relative;
  /* 요소 자기 자신을 기분으로 배치 */
  background: linear-gradient(25deg, violet, pink);
  /* 그라데이션 배경색 설정 */
}

figure h1 {
  position: absolute;
  /* 부모(조상) 요소를 기준으로 배치 */
  top: 7vh;
  /* 부모(조상) 요소의 7% 위치에 배치 */
  left: 4vw;
  /* 부모(조상) 요소의 5% 위치에 배치 */
  font-size: 0;
}

figure h1 strong {
  font-size: 25px;
  /* 글자 크기 25px 설정 */
  font-family: Arial, Helvetica, sans-serif;
  /* 글꼴 설정 */
  color: #fff;
  /* 글자 색상 설정 */
  line-height: 1.4;
  /* 줄 간격 1.4 설정 */
  letter-spacing: 1px;
  /* 자간 1px 설정 */
}

figure h1 span {
  font-size: 12px;
  /* 글자 크기 25px 설정 */
  font-family: Arial, Helvetica, sans-serif;
  /* 글꼴 설정 */
  color: #fff;
  /* 글자 색상 설정 */
  opacity: 0.8;
  /* 투명도 0.8 설정 */
  line-height: 1;
  /* 줄 간격 1.4 설정 */
  letter-spacing: 1px;
  /* 자간 1px 설정 */
}

figure .menu {
  position: absolute;
  /* 부모(조상) 요소를 기준으로 배치 */
  top: 8vh;
  right: 4vw;
  font-size: 25px;
  /* 글자 크기 25px 설정 */
  color: #fff;
  /* 글자 색상 설정 */
}

figure>p {
  position: absolute;
  bottom: 7vh;
  left: 50%;
  transform: translateX(-50%);
  /* X축으로 -50%만큼 이동 */
  float: 12px/1 "arial";
  /* 글자 크기 12px, 줄 간격 1 , 폰트 설정 */
  color: #fff;
  /* 글자 색상 설정 */
  letter-spacing: 2px;
  /* 자간 1px 설정 */
  opacity: 0.8;
}

/* 뮤직 플레이어 패널 설정 */
figure section {
  /* 음악 플레이어 패널 그룹 설정 */
  width: 20vw;
  height: 65vh;
  position: absolute;
  left: 50%;
  top: 140%;
  /* 세로 위치값 */
  margin-top: -25vh;
  /*세로 위치 조정 */
  margin-left: -10vw;
  /* border: 1px solid aqua; */
}

figure section article {
  /* 음악 플레이어 패널 설정 */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

figure section article .inner {
  /* 앨범 이미지/플레이 패널 설정 */
  width: 100%;
  height: 100%;
  background: #f0f7ff;
  padding: 5vh 2.5vw 8vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-content: space-between;
  /* 자식 콘텐츠의 안쪽 세로 정렬을 균등 배치 */
  flex-wrap: wrap;
  /* 자식 콘텐츠가 한 줄에 배치되지 않으면 다음 줄로 이동 */
  border-radius: 10px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  opacity: 0.6;
  /* 투명도 0.6 설정 */
  transform: scale(0.8);
  /* 크기 0.8배 축소 */
  transition: opacity 1s, transform 1s;
  /*투명도, 크기변화 초 설정*/
}

figure section article.on .inner {
  opacity: 0.9;
  /*투명도 0.9*/
  transform: scale(1);
  /*크기 10% 확대*/
}

/* 패널의 음악 커버 이미지 생성 */
figure section article .inner .pic {
  width: 15vw;
  height: 15vw;
  margin: 0px auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  /*배경이미지 반복 안함*/
  background-position: 200%;
  /* 배경이미지의 위치값을 조절 -> .pic 요소의 이미지 숨김 */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

figure section article .inner .pic::before,
figure section article .inner .pic::after {
  content: "";
  display: block;
  width: inherit;
  /* inherit: 부모 태그의 속성값을 그대로 상속한다*/
  height: inherit;
  border-radius: inherit;
  position: absolute;
  top: 0px;
  left: 0px;
  background-image: inherit;
  background-position: center;
  background-repeat: inherit;
  background-size: cover;
  transform-origin: center center;
}

figure section article .inner .pic::before {
  transform: translateY(10%);
  filter: blur(20px) brightness(1.6);
  /*이미지 블러처리 및 밝게 적용*/
}

figure section article .inner .pic .dot {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #e4f1ff;
  position: relative;
  z-index: 3;
  box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.1);
}

/* 음악 컨트롤 플레이 영역*/
figure section article .inner .txt {
  text-align: center;
  position: relative;
  z-index: 3;
}

figure section article .inner .txt h2 {
  font-size: 20px;
  font-family: "arial";
  color: #222;
  margin-bottom: 2vh;
}

figure section article .inner .txt p {
  font-size: 12px;
  margin-bottom: 3vh;
  color: #777;
}

figure section article .inner .txt ul {
  display: flex;
  justify-content: space-around;
  /*자식 콘텐츠 안쪽 가로 정렬을 균등배치*/
}

figure section article .inner .txt ul li {
  cursor: pointer;
  /*마우스 커서를 손가락 모양으로 변경*/
  opacity: 0.6;
  transition: 0.5s;
}

/* 버튼에 기능 설정 */
figure section article .inner .txt ul li.play {
  transform: scale(1.5);
  /*크기 1.5배 확대*/
  opacity: 0.9;
}

figure section article .inner .txt ul li:hover {
  transform: scale(1.5);
  opacity: 0.8;
}

figure section article .inner .txt ul li.play:hover {
  transform: scale(2);
  opacity: 1;
}

/* 컨트롤 패널을 이용한 음악 재생/정지 */
@keyframes ani {

  /*애니메이션 효과 적용: 앨범 커버 이미지 회전 키프레임*/
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes ani2 {

  /*애니메이션 효과 적용: 앨범 커버 그림자 회전 키프레임*/
  0% {
    transform: translateY(10%) rotate(0deg);
  }

  100% {
    transform: translateY(10%) rotate(360deg);
  }
}

figure section article .inner .pic.on::after {
  animation: ani 4s linear infinite;
}

figure section article .inner .pic.on::before {
  animation: ani 4s linear infinite;
}

/* 음악 이동 */
figure .btnPrev {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20vw, -50%);
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
}

figure .btnPrev span {
  font: 11px/1 "arial";
  color: #fff;
  opacity: 1;
  transform: translateX(30%);
  transition: 0.5s;
}

figure .btnPrev::before {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0px;
  transform-origin: left center;
  transform: rotate(-180deg);
  transition: 0.5s;
}

figure .btnPrev::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 50%;
  left: 0px;
  transform-origin: left center;
  transform: rotate(180deg);
  transition: 0.5s;
}

figure .btnPrev:hover span {
  opacity: 0;
  transform: translateX(100%);
}

figure .btnPrev:hover::before {
  transform: rotate(-30deg);
}

figure .btnPrev:hover::after {
  transform: rotate(30deg);
}

figure .btnNext {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(20vw, -50%);
  display: flex;
  align-items: center;
  text-align: right;
  cursor: pointer;
}

figure .btnNext span {
  font: 11px/1 "arial";
  color: #fff;
  opacity: 1;
  transform: translateX(-30%);
  transition: 0.5s;
}
figure .btnNext::before { /*다음 버튼의 화살표 모양 설정*/
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 0px;
  transform-origin: right center;
  transform: rotate(180deg);
  transition: 0.5s;
}
figure .btnNext::after { 
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: #fff;
  position: absolute;
  bottom: 50%;
  left: 0px;
  transform-origin: right center;
  transform: rotate(-180deg);
  transition: 0.5s;
}
figure .btnNext:hover span {
  opacity: 0;
  transform: translateX(-100%);
}
figure .btnNext:hover::before {
  transform: rotate(30deg);
}
.btnNext:hover::after {
  transform: rotate(-30deg);
}
figure .btnPrev {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-20vw, -50%);
  display: flex;
  align-items: center;
  text-align: left;
  cursor: pointer;
}